.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.gallery svg {
    max-height: 31px;
    margin-bottom: 2rem;
}

@media screen and (min-width:768px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}