@import '../../styles/variables.scss';

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__main{
    padding: $containerCard__mobile;
    gap: 5.2rem;
}

.gallery__secondary{
    gap:2.5rem;
}

.gallery__secondary h2{
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .gallery__secondary{
    flex-direction: row;
    gap: 1rem;
    align-items: initial;
    }
}

@media screen and (min-width: 1440px) {
    .gallery__main > section:nth-child(-n+2){
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .gallery__main > section:nth-child(2){
        flex-direction: row-reverse;
    }
    
    .gallery__main > section:nth-child(-n+2) > div{
        align-items: flex-start;
        width: 50%;
    }

    .gallery__main > section:nth-child(-n+2) p{
        text-align: left;
        padding-left: 0;
    }
}