@import './variables.scss';
@import './reset-css.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: $main-background;
    color: $san-juan-blue;

    font-family: $font-family-public-sans;
    font-size: $size-normal;
    font-weight: $weight-normal;
    
    min-height: 100vh;
    width: 100%;
    
}
