$containerCard__mobile: 5.2rem 1.5rem;
$containerCard__desktop: 5.2rem 10rem;

// colors
$charm-pink: #da6d97;
$dark-pink: #ba4270;
$light-gray: #FBFCFE;
$main-background: #EDF3F8;
$mirage-blue: #1b262f;
$san-juan-blue: #36536b;
$san-juan-blue--transparent: #36536b25;
$san-juan-blue--light: #6c8294;
$water-white: #fbfcfe;

// box-shadow
$box-shadow:10px 10px 25px -10px rgba(54, 83, 107, 0.25);

// typography
$font-family-dm-serif: 'DM Serif Display', serif;
$font-family-public-sans: 'Public Sans', sans-serif;

$size-normal: 15px;
$size-tablet--large: 3.73rem;
$size-title--medium: 3.2rem;
$size-title--small: 2.13rem;


$weight-normal: 400;
$weight-strong:700;
