@import '../../styles/variables.scss';

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    background-color: $mirage-blue;
    padding: $containerCard__mobile;
}

.card__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:1440px) {
    .card{
        flex-direction: row-reverse;
        padding: $containerCard__desktop;
    }

    .card__text{
        align-items: flex-start;
    }

    .card__text p{
        padding-left: 0;
        text-align: left;
    }
}