@import '../../styles/variables.scss';

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    background-color: $mirage-blue;
    padding: $containerCard__mobile;
}

.card__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}