@import '../../styles/variables.scss';

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mirage-blue;
    gap: 1.7rem;
    padding: 5.2rem 1.5rem;
}

.card__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}